{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}User Profile - {{ user.username }}{% endblock title %}

{% block header %}
<header class="mb-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-3">
            <h1>Welcome, {{ user.username }}</h1>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
                <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                <a class="nav-link" href="about">About</a>
                <a class="nav-link" href="contact">Contact</a>
            </nav>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<style>

    .media-body p {
        margin-bottom: 0;
    }
    .dropdown-container:hover {
        cursor: pointer;
        background-color: #f8f9fa;
    }

    .dropdown-content {
        display: none;
        border: 1px solid #ddd;
        border-top: none;
    }

    .dropdown-content-inner {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .dropdown-content-inner .file-info {
        flex-grow: 1;
    }

    .dropdown-content-inner .file-display {
        flex-shrink: 0;
        margin-left: 10px;
    }

    body{
        padding-bottom: 10vh;
    }

</style>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<div class="container mt-4">
    <div class="justify-content-between align-items-center">
        <body class="bg-light">
            {% if page_obj %}
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h3 class="border-bottom border-gray pb-2 mb-0">Your Previous Reports</h3>
                <div class="p-3 mb-3 rounded d-flex align-items-center justify-content-between">
                    <div>
                        <p class="text-muted mb-0">
                            <i class="fas fa-info-circle mr-2 text-primary"></i>
                            Hover over and click on a report to view its details. Click the report again to collapse it.
                        </p>
                    </div>
                </div>
                <div class="my-3 px-3 bg-white rounded box-shadow mb-0">
                    <form id="sort-form" action="" method="GET" class="row g-3 align-items-center">
                        <div class="col-auto mb-0">
                            <label for="sort-by" class="col-form-label">Sort Reports By:</label>
                        </div>
                        <div class="col-auto mb-0">
                            <select class="form-select" id="sort-by" name="sort" onchange="this.form.submit();">
                                <option value="default" {% if selected_sort == 'default' %}selected{% endif %}>Default</option>
                                <option value="status" {% if selected_sort == 'status' %}selected{% endif %}>Status</option>
                                <option value="date" {% if selected_sort == 'date' %}selected{% endif %}>Date</option>
                            </select>
                        </div>
                    </form>
                </div>
                <ul style="list-style-type:none;" class="my-3 px-3 bg-white rounded box-shadow">
                    {% for submission_data, files in page_obj %}
                    <li class="dropdown-container media text-muted pt-3">
                        <div class="rounded box-shadow" onclick="toggleDropdown(this)">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray h1">
                                <strong class="d-block text-gray-dark h4">{{ submission_data.1 }}</strong>
                                Reported By: {{ submission_data.2 }}
                            </p>
                        </div>
                        <div class="dropdown-content">
                            {% for file in files %}
                            <div class="dropdown-content-inner">
                                <div class="file-info flex">
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 class="me-2 mb-0">Description:</h5>
                                        <p class="mb-0">{{ file.description }}</p>
                                    </div>
                                    <br>
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 class="me-2 mb-0">Type of Bullying:</h5>
                                        <p class="mb-0">{{ file.tag }}</p>
                                    </div>
                                    <br>
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 id="status-display" class="me-2 mb-0">Status:</h5>
                                        <p class="mb-0">{{ file.status }}</p>
                                    </div>
                                    <br>
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 id="status-display" class="me-2 mb-0">Uploaded At:</h5>
                                        <p class="mb-0">{{ file.time }}</p>
                                    </div>
                                    <br>
                                    {% if file.note %}
                                    <div class="d-flex align-items-center mb-3">
                                        <h5 id="note-display" class="me-2 mb-0">Note:</h5>
                                        <p class="mb-0">{{ file.note }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="file-display text-center mb-2 mt-2">
                                    {% if '.pdf' in file.url|lower %}
                                    <object data="https://s3.amazonaws.com/b29-whistleblower/uploads/{{ file.url }}"
                                        type="application/pdf" style="width:80%; height:36vh;">
                                    </object>
                                    {% elif '.jpg' in file.url|lower %}
                                    <img src="https://s3.amazonaws.com/b29-whistleblower/uploads/{{ file.url }}"
                                        style="width: 80%; height:36vh;">
                                    {% elif '.txt' in file.url|lower %}
                                    <embed src="https://s3.amazonaws.com/b29-whistleblower/uploads/{{ file.url }}"
                                        style="width: 80%; height: 36vh;"></embed>
                                    {% else %}
                                    <h5>Unable to Display Content</h5>
                                    {% endif %}
                                    <br>
                                    <div class="mt-2">
                                        <a href="https://s3.amazonaws.com/b29-whistleblower/uploads/{{ file.url }}" target="_blank" class="btn btn-primary">
                                            View Full Size
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pagination mt-4">
                {% if page_obj.has_previous %}
                <a href="?page=1{% if selected_sort != 'default' %}&sort={{ selected_sort }}{% endif %}" class="btn btn-outline-primary">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if selected_sort != 'default' %}&sort={{ selected_sort }}{% endif %}" class="btn btn-outline-primary">Previous</a>
                {% endif %}
            
                <span class="current mx-4">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if selected_sort != 'default' %}&sort={{ selected_sort }}{% endif %}" class="btn btn-outline-primary">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_sort != 'default' %}&sort={{ selected_sort }}{% endif %}" class="btn btn-outline-primary">Last &raquo;</a>
                {% endif %}
            </div>
            {% else %}
            <p>No submissions found.</p>
            {% endif %}
        </body>
    </div>
</div>

<script>
    // JavaScript for dropdown functionality
    function toggleDropdown(element) {
        const content = element.nextElementSibling;
        if (content.style.display === 'block') {
            content.style.display = 'none';
        } else {
            content.style.display = 'block';
        }
    }

    document.querySelectorAll('.confirm-delete-modal').forEach(modal => {
        modal.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget;
            let fileId = button.getAttribute('data-fileid');
            let title = button.getAttribute('data-title');
    
            let modalTitle = modal.querySelector('.modal-title');
            modalTitle.textContent = 'Confirm Delete Submission: ' + title;
    
            let confirmDeleteButton = modal.querySelector('.confirmDeleteButton');
            confirmDeleteButton.onclick = function() {
                var button = document.getElementById(`deleteButton-${fileId}`);
                button.textContent = "Processing..."
                var close = document.getElementById(`closeButton-${fileId}`);
                button.disabled = true;
                close.disabled = true;
                confirmDelete(fileId);
                let bsModal = bootstrap.Modal.getInstance(modal);
                bsModal._config.backdrop = 'static';
                bsModal._config.keyboard = false;
            };
        });
    });
    
    
    function confirmDelete(fileId) {
        var deleteForm = document.getElementById(`delete-form-${fileId}`);
        if (deleteForm) {
            deleteForm.submit();
        } else {
            console.error('Delete form not found for ID:', fileId);
        }
    }

    document.querySelectorAll('.confirm-edit-modal').forEach(modal => {
        modal.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget;
            let fileId = button.getAttribute('data-fileid');
            let title = button.getAttribute('data-title');
    
            let modalTitle = modal.querySelector('.modal-title');
            modalTitle.textContent = 'Edit Submission: ' + title;
    
            let editButton = modal.querySelector('#editButton-' + fileId);
            editButton.addEventListener('click', function() {
                var button = document.getElementById(`editButton-${fileId}`);
                button.textContent = "Saving..."
                button.disabled = true;
                saveChanges(fileId);
            });
        });
    });
    
    function saveChanges(fileId) {
        var editForm = document.getElementById(`edit-form-${fileId}`);
        if (editForm) {
            editForm.submit();
        } else {
            console.error('Edit form not found for ID:', fileId);
        }
    }
    
</script>

{% endblock content %}
