{% load bootstrap5 %}
{% load socialaccount %}

<html lang="en">
<title>Login</title>
<head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Include jQuery and Bootstrap Bundle JS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login</h3>
                        <form action="{% url 'login_page' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            {% if user_error %}
                                    <div class="alert alert-danger">{{ user_error }}</div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a href="{% provider_login_url 'google' %}?next=/profile" class="btn btn-secondary">
                                <i class="bi bi-google"></i> Log In or Create Account with Google
                            </a>
                        </div>
                        <br>
                        <div class="text-center" style = "display:flex;">
                            <p>Alternatively, You Can</p>
                            <p style="color:white;">_</p>
                            <a href="{% url 'create_new' %}">Create One Here.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
